<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rick and Morty app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar [formGroup]="form">
    <ion-item-divider>
      <ion-label>
        Filters
      </ion-label>
    </ion-item-divider>
    <ion-item> 
      <ion-searchbar formControlName="name"></ion-searchbar>
    </ion-item>
    <ion-item> 
      <ion-label>Gender</ion-label>
      <ion-select [value]="genderOptions[0].value" formControlName="gender" interface="popover">
        <ion-select-option *ngFor="let option of genderOptions" [value]="option.value">{{ option.text }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item> 
      <ion-button slot="end" (click)="clear()">
        Clear
      </ion-button>
    </ion-item>
  </ion-toolbar>

  <ion-list>
    <ion-item-divider>
      <ion-label>
        Characters
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let item of (page$ | async)?.items" [routerLink]="['/details/', item.id]" routerDirection="forward">
      <ion-avatar slot="start">
        <img [src]="item.image">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <h3>{{ item.gender }}</h3>
        <p>{{ item.species }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="page$ | async as page">
    <ion-buttons slot="start">
      <ion-button *ngIf="page.prev" (click)="performPagination(page.prev)">
        Prev
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="page.next" (click)="performPagination(page.next)">
        Next
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
