<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (item$ | async)?.name  }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="item$ | async as item">
    <img [src]="item.image" />
    <ion-card-header>
      <ion-card-title>{{ item.species }}</ion-card-title>
      <ion-card-subtitle>{{ item.gender }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
